{% extends 'baseline.html' %}
{% block title %}<title>Token View</title>{% endblock %}
{% block pagetitle %}<h1>Token for {{ token_name }}</h1>{% endblock %}
{% block content %}

<!-- jsOTP - Licensed with the MIT License -->
<!-- https://github.com/jiangts/JS-OTP -->
<script type="text/javascript" src="{% static 'js/jsOTP-es5.min.js' %}"></script>
<!-- Words file (JSON Array containing all words from /usr/share/dict/words) -->
<script id="dict" type="application/json" src="{% static 'words.json' %}"  integrity="NzE1MjRkYmEzZTJiZTMyNTU3ZmM0NTNhYWQ3MTJhMzU4YzQyOTYxMjU2NzNmYWFmZjA1ODUyMTNm
NDU4MTRmNTUyMWVkOGEyOTZiOGZmYmZkZGIyY2FhZWNkZDhmYzY4Cg=="></script>

<!--   -->
<script type="text/javascript">
  "use strict";
  Config = {
    /*
    Configuration settings to help with code maintainability, probably could be
    left as it is.

    However, not useful atm... may be removed
    */
  }

  /*
  Gets DOM elements displaying codes and update them with new ones
  */

  /*
   - Get elements
   - Get current words
   - Calc new words
   - Update DOM with new words
   - Add old words as fallback
   - ^^ Do above on interval
  */
  "use strict";

  clientWord = document.getElementById("clientWord");
  businessWord = document.getElementById("businessWord");

  OTPs = {
    "client": [],
    "business": []
  }



  clientWord.innerHTML = "";
  businessWord.innerHTML = "";


</script>

<!-- User view -->
<div class="col-sm">
  <h1>Your word</h1>
  <h3 id="clientWord"> -- </h3>
</div>

<div class="col-sm">
  <h1>{{ name }}'s Word</h1>
  <h3 id="businessWord"> -- </h3>
</div>

<!-- File to handle otp word index generation -->
<script type=text/javascript src="{% static 'js/generator.js'%}" charset="utf-8"></script>

{% endblock %}
